.table-scroll-container {
  overflow-x: auto;
  cursor: grab;
}

.table-scroll-container:active {
  cursor: grabbing;
}

.lexend-deca {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
  font-family: "Raleway", sans-serif;;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
